In [1]:
# default_exp core

# module name here

> API details.

In [2]:
#hide
from nbdev.showdoc import *

In [3]:
#export
def say_hello(to):
    "Say hello to somebody"
    return f'Hello {to}!'

In [4]:
say_hello("Kurian")

'Hello Kurian!'

In [5]:
from IPython.display import display,SVG

In [6]:
assert say_hello("Jeremy")=="Hello Jeremy!"

## Attempting chunking

In [11]:
import pandas as pd
from transformers import pipeline

classifier = pipeline("summarization")

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 (https://huggingface.co/sshleifer/distilbart-cnn-12-6)

Downloading:   0%|          | 0.00/1.76k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.14G [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/26.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/878k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/446k [00:00<?, ?B/s]

In [9]:
df = pd.read_csv("input/IPL_Match_Highlights_Commentary.csv")
df.head()

,Match_id,Team,Over_num,Commentary,batsman,score
0,4281444,RCB 1st Inns,0.5,"Nehra to Mandeep, FOUR, first boundary for Man...",Nehra to Mandeep,FOUR
1,4281444,RCB 1st Inns,1.0,"Nehra to Mandeep, FOUR, back-to-back boundarie...",Nehra to Mandeep,FOUR
2,4281444,RCB 1st Inns,10.0,"Henriques to Kedar Jadhav, FOUR, hit straight ...",Henriques to Kedar Jadhav,FOUR
3,4281444,RCB 1st Inns,10.4,"Nehra to Kedar Jadhav, FOUR, another full toss...",Nehra to Kedar Jadhav,FOUR
4,4281444,RCB 1st Inns,10.5,"Nehra to Kedar Jadhav, FOUR, four more. Jadhav...",Nehra to Kedar Jadhav,FOUR

In [15]:
smaller_sample_match = df[df["Match_id"]==3495290]
smaller_sample_match.shape
full_text_smaller_sample_text = ''.join(smaller_sample_match['Commentary'])

In [16]:
classifier(full_text_smaller_sample_text[:3000])

[{'summary_text': ' Shreyas Gopal takes the prized scalp of RCB skipper Virat Kohli for the second time in the tournament . Gopal on a hat-trick for RR, take a bow . Kohli smashes it over the third man fence for a maximum . ABD is off the mark with a boundary .'}]

In [17]:
classifier(full_text_smaller_sample_text[3001:5000])

[{'summary_text': ' Parthiv Patel, Gurkeerat Singh and Klaasen all bowled out for RCB . Parag joins the party as he removes Mann, Mann and Negi . Thomas picks up his second wicket of the match . Negi gets a top-edge which loops over short fine leg and trickles away to the boundary . Livingstone grabs it with ease .'}]

In [18]:
classifier(full_text_smaller_sample_text[5000:])

[{'summary_text': ' Samson hit a six-wicket over the cow corner of cow corner at 136.4kph . Livingstone hit it over mid-on for a maximum . Chahal picked the length early . Samson caught by Negi at backward point . Samson c Negi b Negi 28(13) [4s-2.3]'}]

In [19]:
len(full_text_smaller_sample_text)

7084

## Potential Ideas

1. Do a IPL match level text summarization
2. Corresponding to one player, see how well he played during the match


> Note: For conversational data, use techniques like chunking and see how you can achieve goog results.

In [13]:


# hide
from nbdev.export import notebook2script

notebook2script()

Converted 00_core.ipynb.
Converted index.ipynb.